// Vista del servidor que enviamos al cliente
//Hemos instalado el pug en la terminal con npm install pug
// Lo importante es main y block content porque es donde vamos a meter el contenido de la página
html
  head
    title Petanca League
  body
    header
      nav
        ul
          li Home
          li About
          li Contacto
    main
      block content
    footer